.preview {
  background-color: beige;
}

.text-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-inputs textarea {
  margin-bottom: 10px;
}

.keys label {
  margin-right: 30px;
}
