.nav {
  display: flex;
  background-color: white;
  justify-content: space-around;
  color: black;
  align-items: center;
  padding: 1rem 0;
  font-family: "Inter", sans-serif;
}

.nav h4 {
  font-size: 2rem;
  font: bold;
}

.nav h4 a {
  color: #5e5ff5;
  text-decoration: none;
}

.nav .link1 {
  display: flex;
  list-style: none;
  width: 24%;
  justify-content: space-between;
}

.nav .link2 {
  display: flex;
  list-style: none;
  width: 12%;
  justify-content: space-between;
  align-items: center;
}

.nav .link2 button {
  background-color: #5e5ff5;
  color: white;
  border: none;
  padding: 9px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font: inherit;
}

.nav ul li a {
  color: black;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.nav ul li a:hover {
  color: #5e5ff5;
  font: bold;
}

.nav .link2 button:hover {
  color: #5e5ff5;
  background-color: white;
  outline: #5e5ff5 solid 3px;
}
