.nav {
  display: flex;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  color: black;
  align-items: center;

  font-family: "Inter", sans-serif;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}
.logo .logo-text {
  color: #5e5ff5;
}
.logo-text .logo-text-int {
  color: #393839;
}
.logo-text .logo-text-el {
  color: #fe8a01;
}
.logo img {
  width: auto;
  height: 100px;
}

.nav h4 {
  font-size: 2rem;
  font: bold;
}

.nav h4 a {
  color: #5e5ff5;
  text-decoration: none;
}

.nav .link1 {
  display: flex;
  list-style: none;
  width: 24%;
  justify-content: space-between;
}

.nav .link2 {
  display: flex;
  list-style: none;
  width: 12%;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.btn-primary {
  background-color: #5e5ff5;
  color: white;
  border: none;
  padding: 9px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font: inherit;
  margin: 0 10px;
  min-width: 100px;
}

.btn-primary:hover {
  color: #5e5ff5;
  background-color: white;
  outline: #5e5ff5 solid 3px;
}

.btn-secondary {
  background-color: white;
  color: #5e5ff5;
  outline: #5e5ff5 solid 3px;
  border: none;
  padding: 9px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font: inherit;
  margin: 0 10px;
  min-width: 100px;
  text-align: center;
}

.btn-secondary:hover {
  color: white;
  background-color: #5e5ff5;
}

.nav ul li a {
  color: black;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.nav ul li a:hover {
  color: #5e5ff5;
  font: bold;
}
